<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Weather</title>

    <link rel="stylesheet" href="style.css">
    <!-- Vue 3.0 CDN -->
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div id="app" class="container">
        <div class="input-group">
            <div class="input-group-prepend">
                <span id="basic-addon1" class="input-group-text">待辦事項</span>
            </div>

            <input class="form-control" type="text" placeholder="準備要做的任務" v-model="newTodo" @keyup.enter="addTodo" />
          
            <div class="input-group-append">
                <button class="btn" type="button" @click="addTodo">新增</button>
            </div>
        </div>

        <div class="card text-center">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <template v-for="(item, index) in visibilityList">
                        <li class="nav-item" :key="index">
                            <a class="nav-link" href="#" :class="{ 'active' : visibility == item.value }" @click="visibility=item.value">{{item.name}}</a>
                        </li>
                    </template>
                </ul>
            </div>

            <ul class="list-group list-group-flush text-left">
                <template v-for="(item) in filteredTodos">
                    <li class="list-group-item" :key="item.id" @dblclick="editTodo(item)">
                        <div class="d-flex justify-content-between" v-if="item.id !== cacheTodo.id">
                            <div class="form-check">
                                <input class="form-check-input" :id="item.id" type="checkbox" @click="changeComplated(item.id)" v-model="item.completed" />
                                <label class="form-check-label" :for="item.id" :class="{'completed':item.completed}">{{item.title}}</label>
                            </div>

                            <button class="close ml-auto" type="button" aria-label="Close" @click="removeTodo(item)">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>

                        <input class="form-control" type="text" v-model="cacheTitle" v-if="item.id == cacheTodo.id" @keyup.esc="cancelEdit" @keyup.enter="doneEdit(item)" @blur="doneEdit(item)" />
                    </li>
                </template>
            </ul>

            <div class="card-footer d-flex justify-content-between">
                <div>
                    還有<span class="remainMission">{{`${activeTodosLength}`}}</span>筆任務未完成
                </div>
                <a href="#" @click="cleanTodo">清除所有任務</a>
            </div>
        </div>
    </div>
</body>

<script>
    const urlAPI = `https://eudora-hsj.github.io/Vue-practice/data/todolist.json`;

    const vm = Vue.createApp({
        data() {
            return {
                newTodo: '',
                apiData: [], // Save API data
                todos: [], // Save LocalStorage data
                visibilityList: [
                    { name: '全部', value: 'all' },
                    { name: '進行中', value: 'active' },
                    { name: '已完成', value: 'completed' }
                ],
                visibility: 'all',
                cacheTodo: {},
                cacheTitle: ''
            };
        },
        created() {
            this.loadLocalStorage(); // Load data from LocalStorage
            this.getList(urlAPI); // Fetch API data
        },
        methods: {
            // API data
            getList(urlAPI) {
                fetch(urlAPI, {
                    method: 'GET'
                })
                    .then(response => {
                    if (response.status === 200) {
                        return response.json();
                    }
                    throw new Error('Error fetching current weather data');
                    })
                    .then(data => {
                        this.apiData = data.data;
                        this.saveToLocalStorage(); // Save fetched data to LocalStorage
                    })
                    .catch(error => {
                        
                    });
            },
            // Add new to-do
            addTodo() {
                let newTodoStr = this.newTodo.trim();
                if (!newTodoStr) {
                    return;
                }
                this.newTodo = '';
                let submitData = {
                    id: Math.floor(Date.now()),
                    title: newTodoStr,
                    completed: false
                };
                this.todos.push(submitData);
                this.saveToLocalStorage();
            },
            // Remove to-do
            removeTodo(item) {
                this.todos.splice(this.getIndex(item.id), 1);
                this.saveToLocalStorage();
            },
            // Edit to-do
            editTodo(item) {
                this.cacheTodo = item;
                this.cacheTitle = item.title;
            },
            // Cancel edit
            cancelEdit() {
                this.cacheTodo = {};
            },
            // Submit edit
            doneEdit(item) {
                item.title = this.cacheTitle;
                this.cacheTitle = '';
                this.cacheTodo = {};
                this.saveToLocalStorage();
            },
            // Clean all to-do
            cleanTodo() {
                this.todos.splice(0, this.todos.length);
            },
            getIndex(id) {
                return this.todos.findIndex(el => el.id == id);
            },
            changeComplated(id) {
                let index = this.getIndex(id);
                this.todos[index].completed = !this.todos[index].completed;
                this.saveToLocalStorage();
            },
            // Waiting for LocalStorage
            saveToLocalStorage() {
                localStorage.setItem('todos', JSON.stringify(this.todos));
            },
            loadLocalStorage() {
                const savedTodos = localStorage.getItem('todos');
                console.log(savedTodos)
                if (savedTodos) {
                    this.todos = JSON.parse(savedTodos);
                }
            }
        },
        computed: {
            // Change the tab
            filteredTodos() {
                let nowTab = this.visibility;
                switch (nowTab) {
                    case 'all':
                        return this.todos.filter(item => true);
                    case 'active':
                        return this.todos.filter(item => !item.completed);
                    case 'completed':
                        return this.todos.filter(item => item.completed);
                }
            },
            getNewKey() {
                return Math.max(...this.todos.map(el => +el.id));
            },
            activeTodosLength() {
                return this.todos.filter(item => !item.completed).length;
            }
        },
        components: {}
    }).mount('#app');
</script>

</html>
